name: check

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tox-env: ["coverage", "type", "lint", "format", "docs"]
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt install -y libopenblas-dev pandoc
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run tox environment
        shell: bash
        run: |
          tox run -e ${{ matrix.tox-env }}
      - name: Archive HTML documentation
        if: matrix.tox-env == 'docs'
        uses: actions/upload-artifact@v4
        with:
          name: docs-html
          path: ./docs/_build/html/
